button {
  margin: 1rem;
}

.progress {
  height: 20px;
  width: 50%;
  background-color: rgb(221, 212, 212);
  margin: 1rem;
  border-radius: 10px;
}

.progress div {
  height: 100%;
  width: 50%;
  border-radius: 10px;
  border: 1px solid grey;
}

.green {
  background-color: rgba(0, 128, 0, 0.5);
}

.red {
  background-color: rgba(255, 9, 9, 0.678);
}

.white {
  background-color: white;
}

.blue {
  background-color: rgba(63, 63, 253, 0.733);
}

.yellow {
  background-color: yellow;
}
